
/* ===================================*/
/* =======    wide-Tablets  ==========*/
/* ===================================*/


@media only screen and (max-width: 1200px) {
    
    .main-header {width: 100%; padding:0 2%;}
    .row {padding:0 2%;}
}



/* ===================================*/
/* =======       Tablets    ==========*/
/* ===================================*/


@media only screen and (max-width: 1023px) {
    body {font-size: 18px;}
    section{padding:60px 0;}
    .row{width: auto;}
    
}


/* ===================================*/
/* =======     Small-Tablets    ======*/
/* ===================================*/

@media only screen and (max-width: 767px) {
    
}


/* ===================================*/
/* =======    small-Phones    ========*/
/* ===================================*/

@media only screen and (max-width: 480px) {
    body{font-size: 16px;}
    section{padding:30px 0;}
    .row, main-header{padding:0 4%;}
    header{background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) , url(img/37b0124ba5e6f78702b22b2204953ae0.jpg);}
    .col{width:100%;}
    
    .main-nav{display: none;}
    h1 {font-size:180%;text-align: center;}
    h2 {font-size:150%}
    p{font-size:100%;}
    
    p:after {
    display: block;
    height: 2px;
    background-color: #e74c3c;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;}
    h3{text-align: center;}
    margin-right: 20px;}

    .btn:link,
    .btn:visited {
        text-align: center;
        margin-left:18px;
        margin-top:40px;}

    
    
}